.calendar-calendar td a {color: #FFFFFF;}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    -moz-border-radius: 0;
    border-radius: 0;
}

.view .date-nav-wrapper .date-prev a:hover {
    text-decoration: underline;
}
.block-constant-contact h2 {display: none;}
#block-afaa-blocks-afaa-block-tagline {
    border-left: 10px solid #cc6633;
    padding-left: 5px;
}

#block-afaa-blocks-afaa-block-tagline h2,
#block-afaa-blocks-afaa-block-tagline p  {margin: 0;}

.front h1.title {display: none;}
.error {display:none;}

.region-highlighted {margin: 0 12px;}
.region-highlighted h2, .region-highlighted p {
    display: inline;
    font-size: 14px;
    line-height: 16px;
}



#content {margin-left: 1%;}
.sidebars {
    margin-left: 4%;
    margin-right: 1%;
}

/**
 * What's New styles
 */
#block-views-whats-new-block-whatsnew h2.block-title {
    color: #004a8d;
    font-size: 28px;
}

#block-views-whats-new-block-whatsnew h2, #block-views-whats-new-block-whatsnew p {
    margin: 0;
}