.calendar-calendar td a {color: #FFFFFF;}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    -moz-border-radius: 0;
    border-radius: 0;
}

.view .date-nav-wrapper .date-prev a:hover {
    text-decoration: underline;
}
.block-constant-contact h2 {display: none;}
#block-afaa-blocks-afaa-block-tagline {
    border-left: 10px solid #cc6633;
    padding-left: 5px;
}

#block-afaa-blocks-afaa-block-tagline h2,
#block-afaa-blocks-afaa-block-tagline p  {margin: 0;}

.front h1.title {display: none;}
.error {display:none;}
