.sharethis-buttons .stButton .st-sharethis-counter{
  background-image: url(../../images/sprite.png) !important;
  background-position: -124px -162px;
  background-repeat: no-repeat;
  height: 26px;
  width: 84px;
}
