.rotator-pager {
    display: block;
    margin: 0 auto;
    padding: 10px 0 0;
}
.rotator-pager li {
    list-style: none;
    display: block;
    float: left;
    width: 20px; height: 20px;
    background: #191919;
    margin-right: 10px;
    border-radius: 10px;
    moz-border-radius: 10px;
}
.rotator-pager li.active span {
    display: block;
    background: #cc6633;
    width: 12px; height: 12px;
    border-radius: 6px;
    moz-border-radius: 6px;
    position: relative;
    top: 4px; left: 4px;
}
.rotator {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    background: white;
}
.rotator .field-collection-view,
.rotator .field-collection-container {
    border: none;
}
.rotator .field-collection-view .field-collection-view-links,
.rotator .description,
.rotator .action-links,
.rotator header {
    display: none;
}
.rotator .field-items .field-item {
    position: absolute;
    width: 100%; height: 100%;
}
.rotator .field-items .field-item img {
    width: 100%; height: auto;
}
.rotator .item {
    position: absolute;
    top: 0; left: 0;
    display: none;
    width: 100%; height: 100%;
    overflow: hidden;
}
.rotator .item.active {
    display: block;
    z-index: 2000;
}
.rotator .item.next,
.rotator .item.prev {
    display: block;
    z-index: 1000;
}
.rotator .item img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: auto;
}

.rotator .blurb {
    position: absolute;
    bottom: 30px; right: 0;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    width: 0;
    z-index: 3000;
}
.rotator .blurb .tab {
    position: absolute;
    top: 0; left: 0;
    background: yellow;
    color: black;
    padding: 2px 10px 0;
    font-size: 14px;
    opacity: 0;
    height: 0;
}
.rotator .blurb h2 {
    color: white;
    margin: 0 0 20px;
    font-weight: normal;
    width: 320px;
}
.rotator .blurb a {
    background: #e08e00; /* Old browsers */
    background: -moz-linear-gradient(top,  #e08e00 0%, #c85e00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e08e00), color-stop(100%,#c85e00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e08e00 0%,#c85e00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e08e00 0%,#c85e00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e08e00 0%,#c85e00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e08e00 0%,#c85e00 100%); /* W3C */
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 10px; right: 10px;
    padding: 0 5px;
    border: 1px solid #afc6cd;
    display: none;
}
