/**
 * @file
 * RTL companion for the forms.css file.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* line 125, ../sass/_custom.scss */
nav#secondary-menu {
  margin-top: 1em;
}
/* line 127, ../sass/_custom.scss */
nav#secondary-menu a {
  color: #ff9900;
  font-size: .75em;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 131, ../sass/_custom.scss */
nav#secondary-menu a:hover {
  color: white;
}
/* line 135, ../sass/_custom.scss */
nav#secondary-menu li.last a {
  color: #c5c5c5;
}

/*
 * Drupal's default login form block
 */
/* line 13, ../sass/forms-rtl.scss */
#user-login-form {
  text-align: right;
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 24, ../sass/forms-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-left: 0;
  margin-right: -20px;
  /* Un-do some of the padding on the ul list. */
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */
/* line 38, ../sass/forms-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}
